{
        "host" : "localhost:{{ homebrewery.port }}",
        "web_port" : {{ homebrewery.port }},
        "mongolab_uri" : "mongodb://127.0.0.1:{{ homebrewery.mongodb.port }}/homebrewery",
        "enable_v3" : true,
        "enable_themes" : true,
        "local_environments" : ["local"]
}
