# The Caddyfile is an easy way to configure your Caddy web server.
#
# Unless the file starts with a global options block, the first
# uncommented line is always the address of your site.
#
# To use your own domain name (with automatic HTTPS), first make
# sure your domain's A/AAAA DNS records are properly pointed to
# this machine's public IP, then replace ":80" below with your
# domain name.

{% for caddy_host in caddy_hosts %}
{{ caddy_host.host }} {
        reverse_proxy {{ caddy_host.reverse_proxy }}

        encode zstd gzip

        tls /etc/caddy/ssl/{{ caddy_host.ssl.crt }} /etc/caddy/ssl/{{ caddy_host.ssl.key }}{% if caddy_host.ssl.client_certs is defined %} {
                client_auth {
                        mode require_and_verify
                        trusted_ca_cert_file /etc/caddy/ssl/{{ caddy_host.ssl.cacert }}
{% for client_cert in caddy_host.ssl.client_certs %}
                        trusted_leaf_cert_file /etc/caddy/ssl/{{ client_cert }}
{% endfor %}
                }
        }
{% else %}

{% endif %}
}

{% endfor %}
