{
  "port": {{ foundry.ports.local }},
  "upnp": false,
  "fullscreen": false,
  "hostname": "localhost",
  "localHostname": null,
  "routePrefix": null,
  "sslCert": null,
  "sslKey": null,
  "awsConfig": null,
  "dataPath": "/home/foundry/userdata_v{{ major_version }}",
  "passwordSalt": null,
  "proxySSL": true,
  "proxyPort": {{ foundry.ports.internal }},
  "serviceConfig": null,
  "updateChannel": "release",
  "language": "en.core",
  "upnpLeaseDuration": null,
  "compressStatic": true,
  "world": null
}
