[Unit]
Description=Foundry VTT Server
After=network.target
Wants=caddy.service

[Service]
Type=simple

User=foundry
Group=foundry

LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity

Restart=on-failure
RestartSec=5

ExecStart=/usr/bin/node /opt/foundry_v{{ major_version }}/resources/app/main.js --dataPath=/home/foundry/userdata_v{{ major_version }}

[Install]
WantedBy=multi-user.target
